# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.metadata/
/.recommenders/
*/target/*
AccountService/target/m2e-wtp/web-resources/META-INF/maven/AccountService/AccountService/pom.properties
BookingService/src/main/java/it/univaq/sose/train/booking/dao/DatabaseConnector.java
ScheduleService/src/main/java/it/univaq/sose/train/schedule/dao/DatabaseConnector.java
TicketService/src/main/java/it/univaq/sose/train/ticket/dao/DatabaseConnector.java
AccountService/target/m2e-wtp/web-resources/META-INF/maven/AccountService/AccountService/pom.properties
AccountService/target/classes/it/univaq/sose/train/account/Account.class
AccountService/target/classes/it/univaq/sose/train/account/AccountImpl.class
AccountService/target/m2e-wtp/web-resources/META-INF/maven/AccountService/AccountService/pom.properties
AccountService/target/m2e-wtp/web-resources/META-INF/maven/AccountService/AccountService/pom.xml
AccountService/target/m2e-wtp/web-resources/META-INF/maven/AccountService/AccountService/pom.properties
AccountService/target/generated-sources/cxf/it/univaq/sose/train/booking/service/BookingImplService.java
AccountService/target/generated-sources/cxf/it/univaq/sose/train/booking/service/Booking.java
AccountService/target/classes/it/univaq/sose/train/account/AccountImpl.class
AccountService/target/classes/it/univaq/sose/train/account/Account.class
AccountService/target/classes/booking.wsdl
Servers/Tomcat v8.5 Server at localhost-config/server.xml
AccountService/target/m2e-wtp/web-resources/META-INF/maven/AccountService/AccountService/pom.properties
AccountService/target/m2e-wtp/web-resources/META-INF/maven/AccountService/AccountService/pom.properties
Servers/Tomcat v8.5 Server at localhost-config/server.xml
AccountService/target/m2e-wtp/web-resources/META-INF/maven/AccountService/AccountService/pom.properties
